@page "/learnBlazor/bindprop"

<h3>Product - Data Binding</h3>

Name: @product.Name
<br />
Active: @product.IsActive
<br />
Price: @product.Price
<br />
<input @bind="@product.Price" @bind:event= "oninput" />
<br />
<input @bind-value="@product.Price" @bind-value:event="oninput" />
<br />


@code {
    Models.Product product = new Models.Product
    {
        Name = "Apple",
        Price = 1.5M,
        IsActive = true
    };
}
