@page "/learnBlazor/bindprop"


<div class="row">
    <div class="col border p-3">
        <h4>Product Playground</h4>
        <hr />
        IsActive:
        <input type="checkbox" @bind="@product.IsActive" />
        <br />

        <input @bind="@product.Price" @bind:event="oninput" />
        <br />
        Varient:
        <select @bind="@selectVariant">
            @foreach (var item in product.ProductVarients)
            {
                <option value="@item.Id">@item.Color</option>
            }
        </select>
        <br />
    </div>

    <div class="col border p-3">
        <h4>Product Details</h4>
        <hr />
        Name: @product.Name
        <br />
        The Product is: @(product.IsActive ? "Active" : "Inactive")
        <br />
        Price: @product.Price
        <br />
        Selected Varient is:
        <br />
        @if (selectVariant > 0)
        {
            <p>
                Id: @selectVariant
                <br />
                Color: @product.ProductVarients.FirstOrDefault(x => x.Id == selectVariant).Color
                <br />
                Size: @product.ProductVarients.FirstOrDefault(x => x.Id == selectVariant).Size
                <br />
                Size: @product.ProductVarients.FirstOrDefault(x => x.Id == selectVariant).Price
                <br />
            </p>
        }
    </div>
</div>

<div class="row container">
    <h4>Product Table</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Products)
            {
                <tr>
                    <td>
                        <input type="text" @bind="@item.Name" @bind:event="oninput" />
                    </td>
                    <td>
                        <input type="text" @bind="@item.Price" @bind:event="oninput" />
                    </td>
                    <td>
                        <input type="checkbox" @bind="@item.IsActive" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
    <h3>Product Summary</h3>
    <hr />
    @foreach (var item in Products)
    {
        <p>@item.Name [@item.Price] is @(item.IsActive ? "Active" : "Inactive")</p>
    }
</div>


@code {
    private int selectVariant;

    List<Product> Products = new List<Product>();

    Product product = new Product
    {
        Name = "Apple",
        Price = 1.5M,
        IsActive = true,
        ProductVarients = new List<ProductVarient>()
        {
            new ProductVarient()
            {
                Id =1,
                Color = "Red",
                Size = "11 inch",
                Price = 500000
            },
            new ProductVarient()
            {
                Id =2,
                Color = "Black",
                Size = "12 inch",
                Price = 600000
            },
            new ProductVarient()
            {
                Id =3,
                Color = "Violet",
                Size = "13 inch",
                Price = 700000
            },
        }
    };

    protected override void OnInitialized()
    {
        Products.Add(new()
        {
            Id = 1,
            Name = "Midnight Blaze",
            IsActive = false,
            ProductVarients = new()
                {
                    new ProductVarient { Id = 3, Color="Purple", Price = 1000},
                    new ProductVarient { Id = 3, Color="Rose", Price = 2000},
                    new ProductVarient { Id = 3, Color="Magenta", Price = 3000}
                }
        });

        Products.Add(new()
        {
            Id = 2,
            Name = "Blossom Lily",
            IsActive = true,
            ProductVarients = new()
            {
                  new ProductVarient { Id = 3, Color="Purple", Price = 1000},
                    new ProductVarient { Id = 3, Color="Rose", Price = 2000},
                    new ProductVarient { Id = 3, Color="Magenta", Price = 3000}
            }
        });
    }
}
