@page "/learnBlazor/bindprop"


<div class="row">
    <div class="col border p-3">
        <h2>Product Playground</h2>
        IsActive:
        <input type="checkbox" @bind="@product.IsActive" />
        <br />
        
        <input @bind="@product.Price" @bind:event="oninput" />
        <br />
        Varient:
        <select @bind="@selectVariant">
            @foreach (var item in product.LstProductVarients)
            {
                <option value="@item.Id">@item.Color</option>
            }
        </select>
        <br />
    </div>

    <div class="col border p-3">
        <h2>Product Details</h2>
        Name: @product.Name
        <br />
        The Product is: @(product.IsActive ? "Active" : "Inactive")
        <br />
        Price: @product.Price
        <br />
        Selected Varient is:
        <br />
        @if (selectVariant > 0)
        {
            <p>
                Id: @selectVariant
                <br />
                Color: @product.LstProductVarients.FirstOrDefault(x => x.Id == selectVariant).Color
                <br />
                Size: @product.LstProductVarients.FirstOrDefault(x => x.Id == selectVariant).Size
                <br />
                Size: @product.LstProductVarients.FirstOrDefault(x => x.Id == selectVariant).Price
                <br />
            </p>
        }
    </div>
</div>

@code {
    private int selectVariant;

    Product product = new Product
    {
        Name = "Apple",
        Price = 1.5M,
        IsActive = true,
        LstProductVarients = new List<ProductVarient>()
        {
            new ProductVarient()
            {
                Id =1,
                Color = "Red",
                Size = "11 inch",
                Price = 500000
            },
            new ProductVarient()
            {
                Id =2,
                Color = "Black",
                Size = "12 inch",
                Price = 600000
            },
            new ProductVarient()
            {
                Id =3,
                Color = "Violet",
                Size = "13 inch",
                Price = 700000
            },
        }
    };
}
